[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/somrat"]
	path = themes/somrat
	url = https://github.com/somratpro/somrat.git
